<div class="well">
<%= simple_form_for(@ticket, :html => {:class => "form-horizontal"}) do |f| %>

  <fieldset>
    <div id="legend" class="">
      <legend class="">请输入票号</legend>
    </div>
    
		<%= f.input :ticket_no, label: "票号", :required => true, :input_html => {:class => 'input-xlarge'} %>
    <div class="control-group">
		</div>

  </fieldset>

  <div class="actions">
    <%= f.submit "查询", class: "btn btn-success" %>
		<%= link_to '返回', tickets_path, class: "btn btn-info" %>
  </div>
<% end %>
</div>
